@mixin ul-reset {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin paragraph-reset {
  margin: 0;
  padding-bottom: $space-md;
}

@mixin display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin breakpoint-up($size) {
      @media (min-width: map-get($breakpoints, $size)) {
        @content;
      }
  }

@mixin hover-style {
  transition: color 150ms ease-in-out;
  color: $primary-btn-color;
  cursor: pointer;
}
