//COLORS
$primary-bcd-color:hsl(233, 8%, 62%);
$secondary-bcd-color: hsl(0, 0%, 98%);
$primary-heading-color:hsl(233, 26%, 24%);
$secondary-heading-color: hsl(220, 16%, 96%);
$primary-txt-color: hsl(233, 8%, 62%);
