//COLORS
$primary-bcd-color:hsl(233, 8%, 62%);
$secondary-bcd-color: hsl(0, 0%, 98%);

$primary-heading-color:hsl(233, 26%, 24%);
$secondary-heading-color: hsl(220, 16%, 96%);

$primary-txt-color: hsl(233, 8%, 62%);

$primary-btn-color: hsl(136, 65%, 51%);
$secondary-btn-color: hsl(192, 70%, 51%);

//spacing values

$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1.25rem;
$space-lg: 2rem;
$space-xl: 3.25rem;


// BREAKPOINTS
$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
)
