.section-banner {
  background: $secondary-bcd-color;
  padding-bottom: $xl;

  &__container {
    display: block;

    @include breakpoint-up("lg") {
      @include display-flex;
      flex-direction: row-reverse;
    }
  }

  &__text {
    padding: $lg $sm 0 $sm;

    h1, p {
        padding-bottom: $md;
    }

    @include breakpoint-up("lg") {
      padding: 0;
      flex: 2;
    }
  }

}

.section-services,
.articles {
  padding: $xl $sm;

  @include breakpoint-up("lg") {
    padding: $xxl 0;
  }

  &__intro {
    padding-bottom: $md;

    @include breakpoint-up("lg") {
      padding-bottom: $xl;
    }
  }

  &__content {
    @include breakpoint-up("md") {
      @include display-flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    @include breakpoint-up("lg") {
      flex-wrap: nowrap;
    }
  }

  &__card {
    @include breakpoint-up("md") {
      flex: 1 1 50%;
    }

    @include breakpoint-up("lg") {
      flex: 1;
    }
  }
}

.section-services {
  background: $secondary-heading-color;

  &__intro {

    p {
      @include breakpoint-up("lg") {
        max-width: 650px;
      }
    }
  }
}

.articles {
  background: $secondary-bcd-color;

  h2 {
    padding-bottom: 0;
  }
}