.section-hero {
  background: $secondary-bcd-color;
  padding-bottom: $xl;

  @include breakpoint-up("lg") {
    padding: 0 $sm;
  }

  .content-centered {
    @include breakpoint-up("lg") {
      @include display-flex;
      flex-direction: row-reverse;
  }
  }

  &__description {
    padding: $lg $sm 0 $sm;

    @include breakpoint-up("lg") {
      flex: 2;
      padding:0;
    }

    h1, p {
        padding-bottom: $md;
    }

      p {
        @include breakpoint-up("md") {
          max-width: 550px;
          margin: auto;
        }

        @include breakpoint-up("lg") {
          margin: 0;
          max-width: 460px;
        }
      }
  }

}

.section-services,
.articles {
  padding: $xl $sm;

  @include breakpoint-up("lg") {
    padding: $xxl $sm;
  }

  &__intro {
    padding-bottom: $md;
  }

  &__content {
    @include breakpoint-up("md") {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: $sm;
      row-gap: $sm;
    }

    @include breakpoint-up("lg") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.section-services {
  background: $secondary-heading-color;

  &__intro {
    p {
      @include breakpoint-up("md") {
        max-width: 550px;
        margin: auto;
      }

      @include breakpoint-up("lg") {
        margin: 0;
        max-width: 650px;
      }
    }
  }
}

.articles {
  background: $secondary-bcd-color;

  h2 {
    padding-bottom: 0;
  }
}