.section-banner {
    background: $secondary-bcd-color;

    &__text {
        padding: 0 2rem 2rem;
    }
}

.section-services {
    padding: 2rem;
    background: $secondary-heading-color;

    &__card,
    h3 {
        padding-top: 1rem;
    }
}

.article {
    background: $secondary-bcd-color;
    padding-top: 2rem;


    &__cards {
        padding: 2rem;
    }
}