.section-banner__image {
  position: relative;
    height: 19.3rem;
    background: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-color: #fafafa;

  @include breakpoint-up("lg") {
    min-height: 40rem;
    background: url(../images/bg-intro-desktop.svg);
    background-size: 66rem;
    background-position: left 97%;
    flex: 3;
    left: 20%;
  }

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(../images/image-mockups.png);
    background-repeat: no-repeat;
    background-size: 94%;
    background-position: center bottom;

    @include breakpoint-up("lg") {
      height: 120%;
      width: 120%;
      background-size: 95%;
      background-position: center 150%;
      left: 20%;
    }

  }

}
