.primary-button {
  font-size: 0.9rem;
  text-decoration: none;
  width: 9.5rem;
  padding: 0.9rem;
  color: white;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 1.5rem;
  background-image: linear-gradient(280deg, $secondary-btn-color, $primary-btn-color);

  @include breakpoint-up("lg") {
    font-size: 0.85rem;
    text-decoration: none;
    text-align: center;
    width: 9rem;
    padding: 0.7rem;
    font-weight: 600;
  }

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}