.primary-button {
    font-size: 0.9rem;
    text-decoration: none;
    width: 10rem;
    padding: 0.9rem;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    background-image: linear-gradient(280deg, #00BCD4, #66FF99);
}