.primary-button {
  font-size: 0.9rem;
  width: 9.5rem;
  padding: 0.9rem;
  color: white;
  font-weight: 700;
  border-radius: 1.5rem;
  background: linear-gradient(280deg, $secondary-btn-color, $primary-btn-color);

  @include breakpoint-up("lg") {
    font-size: 0.85rem;
    width: 9rem;
    text-align: center;
    font-weight: 600;
    padding: 0.7rem;
  }

  &:hover {
    background: linear-gradient(280deg, lighten(hsl(192, 70%, 51%),15), lighten(hsl(136, 65%, 51%),15));
    cursor: pointer;
  }
}