.nav__button {
  @include breakpoint-up("lg") {
    display: none;
  }

  @include display-flex;

  justify-content: center;
  height: 1.2rem;
  background-color: white;
  padding: 0;

  &-item,
  &-item::after,
  &-item::before {
    width: 1.4rem;
    height: 0.1rem;
    background: $primary-heading-color;
    transition: all 0.35s ease;
  }

  &-item {
    position: relative;
  }

  &-item::after,
  &-item::before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-0.45rem);
  }

  &-item::after {
    transform: translateY(0.45rem);
  }

  &--open &-item::before {
    transform: rotate(-45deg);
  }

  &--open &-item::after {
    transform: rotate(45deg);
  }

  &--open &-item {
    background: transparent;
  }
}