.section-services__content {

    > div {
        img,
        h3 {
            padding-bottom: $sm;
        }

        img {
            margin: auto;
            @include breakpoint-up("lg") {
                margin: 0;
                padding-bottom: $lg;
            }
        }

        h3 {
            @include breakpoint-up("lg") {
                padding-bottom: $md;
            }
        }
    }

    > div:not(:last-child) {
        padding-bottom: $md;
        @include breakpoint-up("lg") {
            margin-right: 1.5rem;
        }
    }

    @include breakpoint-up("lg") {
        flex: 1;
    }
}