body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    overflow: hidden;
}

a {
    color: $primary-txt-color;
    text-decoration: none;
}

p {
    margin: 0;
}

img, li, ::before, ::after {
    display: block;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
}